#Executables
*.o
*.test.o
*.out 
*.exe
#Java Outputs
*.class
bin*

#Clion Folders 
.idea*
cmake-build-debug*

#Cmake Files
*CMakeList.txt
build*

# Visual Studio and Visul Studio Code (Files) 
*.vcxproj
*.sln
*.filters
*.user
*.json
#-----------VS-Folders--------------
.vs*
debug*
#----------Eclipse Folders-------------
.metadate
.settings
#----------Eclipse Files---------------
*.classpath
*.project
*.txt
